<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:usesCleartextTraffic="true">
    <!--Mio, lo que permite tener acceso a internet-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Mio, lo que da permiso a localización-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_CLIPBOARD"/>
    <uses-permission android:name="android.permission.WRITE_CLIPBOARD"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconologo"
        android:label="ORCO"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/iconologo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ORganizacionCOordinacion"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDsmYY4Dj5NsySwgvq2-2xwXTXhqVu6alY" />

        <activity
            android:name="UI.Activities.HUDUserInterface"
            android:exported="false" />
        <activity
            android:name="UI.Activities.HUDLogin"
            android:exported="false" />
        <activity
            android:name="UI.Activities.LauncherAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="UI.Activities.IntroAct"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_intro" />


        <!--Uso de librerias externas-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>